@import '../../../../../styles/mixin.less';
@import '../../../../../styles/variables.less';
.comment-card {
    height: 80vh;
    overflow-y: hidden;
    background-color: @gray-200;
    border-radius: 0;
    .comment-wrap {
        overflow-y: auto;
        height: 60vh;
    }
    .ant-card-head {
        background-color: #fff;
        border-radius: 0;
    }
}