.shrink(@duration,@direction) {
    & when (@direction = horizontal) {
        animation: shrinkX  @duration ease-in-out forwards;
    }
    & when (@direction = vertical) {
        animation: shrinkY @duration ease-in-out forwards;
    }
}
.dashin(@duration, @direction) {
    & when (@direction = horizontal) {
        animation: slideX  @duration ease-in-out forwards;
    }
    & when (@direction = vertical) {
        animation: slideY @duration ease-in-out forwards;
    }
}
.pop(@duration) {
    animation: pop @duration ease-in-out forwards;
}

@keyframes pop {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes shrinkX {
    0% {
        opacity: 0;
        width: 0;
    }
    100% {
        opacity: 1;
        width: 1;
    }
}
@keyframes shrinkY {
    0% {
        height: 0;
    }
    100% {
        height: 1;
    }
}
@keyframes slideX {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideY {
    0% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}