/* Hide the default scrollbar */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track (轨道) */
  ::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 4px;
  }
  
  /* Thumb (滑块) */
  ::-webkit-scrollbar-thumb {
    background: #e7e7e7;
    border-radius: 4px;
  }
  
  /* On hover, add a lighter background color */
  ::-webkit-scrollbar-thumb:hover {
    background: #e2e1e1;
  }
  
  /* On active (when dragging the thumb), add an even lighter background color */
  ::-webkit-scrollbar-thumb:active {
    background: #e6e4e4;
  }
  